In [3]:
# Ambientando Alô mundo!
print("Alô mundo")

Alô mundo

## SqlAlchemy é uma biblioteca de ORM

- Conexão fácil.
- Mapeamento de tabela com classe (ORM).
- Resolve um conflito de tecnologias com paradigmas diferentes.
- Tudo fique orientado a ojetos.

In [4]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\ead\desktop\luiz\projeto_final_manha\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\desktop\luiz\projeto_final_manha\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\desktop\luiz\projeto_final_manha\.venv\lib\site-packages (from sqlalchemy) (3.0.3)

In [5]:
! pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.0.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\luiz\projeto_final_manha\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\luiz\projeto_final_manha\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.0.1-cp312-cp312-win_amd64.whl (16.3 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [6]:
! pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [7]:
import pandas as pd

In [10]:
from sqlalchemy import create_engine

In [11]:
import pymysql

In [13]:
# Biblioteca para converter e resolver problema do @
import urllib.parse

# Qual o usuário do banco e a senha?

user = 'root'
password = urllib.parse.quote_plus('senai@123')

# Qual o host e o banco?
host = 'localhost'
database = 'projetodiario1'

# Connection_string : string com TODAS as informações da conexõo
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# Criando a conexão
engine = create_engine(connection_string)

# Escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"

# Criar um dataframe com a consulta SQL 
df_alunos = pd.read_sql(query_alunos,engine)

df_alunos

     id        ra      nome  tempoestudo  rendafamiliar
0     1  12345678      None            0            NaN
1     2  12345679      None            0            NaN
2     3  12345680      None            0            NaN
3     4  12345681      None            0            NaN
4     5  12345682      None            0            NaN
..  ...       ...       ...          ...            ...
68  179  12345746   Beatriz            4        6789.01
69  180  12345747      João            1        5678.90
70  181  12345748  Fernanda            5        1234.56
71  182  12345749     Lucas            2        3456.78
72  183  12345750    Amanda            3        7890.12

[73 rows x 5 columns]

### - Pandas (EDA - Análise Exploratória de Dados)
### - SciktLearn (Fundamentos de Inteligência Artificial)
### - NumPy (Matemática complexa com abstração)

## Salvando o DataFrame

- .csv
- .xlsx
- .json
- .sql
- .html
- .xml

In [14]:
csv_filename = "alunos.csv"
df_alunos.to_csv(csv_filename,index=False)

### crie uma nova celula que salve o dataframe no formato .json

In [16]:
json_filename = "aluno.json"
df_alunos.to_json(json_filename,index=False)

###### Auto formatação do arquivo (alt+shift+f)

### Um novo dataframe

In [17]:
df_alunos.columns

Index(['id', 'ra', 'nome', 'tempoestudo', 'rendafamiliar'], dtype='object')

In [19]:
df_tempo_renda = df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda

    tempoestudo  rendafamiliar
0             0            NaN
1             0            NaN
2             0            NaN
3             0            NaN
4             0            NaN
..          ...            ...
68            4        6789.01
69            1        5678.90
70            5        1234.56
71            2        3456.78
72            3        7890.12

[73 rows x 2 columns]